<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
<title>Ap212</title>
</head>


<body>

    <h1 class="titulo">Enxoval</h1>

<div id="conteiner">
    <div id="quarto">
        <ul> 
            <h1>Quarto</h1>
            
            <% ListaQuarto.forEach((item)=> { %>
            <li>
                <%= item.item %>    
                <button class="delete-btn" data-id="<%= item._id %>">x</button>
            </li>
            <%  }) %>
        </ul>
        <form action="/Quarto" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit"></button>
        </form>
    </div>

    <div id="cozinha">
        <ul> 
            <h1>Cozinha</h1>
            
            <% ListaCozinha.forEach((item)=> { %>
            <li class="check-<%= item.check %>">
                <input type="checkbox"  <%= item.check ? 'checked' : '' %> data-id="<%= item._id %>" class="check-item">
                <%= item.item %>
                <button class="delete-btn" data-id="<%= item._id %>">x</button>
            </li>
            <%  }) %>
        </ul>
        <form action="/Cozinha" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit"></button>
        </form>
    </div>
    
    <div id="lavanderia">
        <ul> 
            <h1>Lavanderia</h1>
            
            <% ListaLavanderia.forEach((item)=> { %>
            <li>
                <%= item.item %> 
                <button class="delete-btn" data-id="<%= item._id %>">x</button>
            </li>
            <%  }) %>
        </ul>
        <form action="/Lavanderia" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit"></button>
        </form>
    </div>
    
    <div id="banheiro">    
        <ul> 
            <h1>Banheiro</h1>
            
            <% ListaBanheiro.forEach((item)=> { %>
            <li>
                <%= item.item %>
                <button class="delete-btn" data-id="<%= item._id %>">x</button>   
            </li>
            <%  }) %>
        </ul>
        <form action="/Banheiro" method="post">
            <input type="text" name="item" id="item" placeholder="add">
            <button id="btnAdd" type="submit"></button>
        </form>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>